<header>
    MEET THE WEB DEVELOPERS
</header>

{{!-- cards --}}

<div class="scene">
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                <img src="" alt="Phillip" class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Phillip Booker</h2>
                <h3>Backend Developer</h3>
                <h4>Sacramento, CA</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/phillipbooker">GitHub</a><br>
                <a id="links" href="">LinkedIn</a>
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                <img src="https://avatars3.githubusercontent.com/u/43506401?s=460&v=4" alt="Roman" class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Roman Senin</h2>
                <h3>Backend Developer</h3>
                <h4>Sacramento, CA</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/romansenin">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/roman-senin/">LinkedIn</a>
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                <img src="https://avatars3.githubusercontent.com/u/47464812?s=460&v=4" alt="Loren" class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Loren Brown</h2>
                <h3>Front-end Developer</h3>
                <h4>Lodi, CA</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/viveleloren">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/paige-smith-web-developer/">LinkedIn</a>
            </div>
        </div>
    </label>
    <label class="card-wrap">
        <input type="checkbox" class="flipcard">
        <div class="cardA">
            <div class="front card-face">
                <img src="https://scontent.fsac1-2.fna.fbcdn.net/v/t1.0-9/53908314_2198676830175253_685699715014066176_n.jpg?_nc_cat=107&_nc_oc=AQmeKJdD_VmOfByIbp9v7vBTQB8tDyZKC5VG1LoYjfen615Z9345AnqEUgzs90sIypw&_nc_ht=scontent.fsac1-2.fna&oh=4dfe28a3982b89d834a32f0365a31317&oe=5DB71C3E"
                    alt="Paige" class="card-photo">
            </div>
            <div class="back card-face">
                <h2>Paige Smith</h2>
                <h3>Front-end Developer</h3>
                <h4>Sacramento, CA</h4>
                <h5>Contact Me:</h5>
                <a id="links" href="https://github.com/paigesmith3794">GitHub</a><br>
                <a id="links" href="https://www.linkedin.com/in/paige-smith-web-developer/">LinkedIn</a>
            </div>
        </div>
    </label>
</div>



{{!-- footer --}}
<footer>
    <div class="footer-top">
        <div class="container">
            <ul class="menu">

                <li>
                    <a href="/">D <span class="flip">R</span> E S</a>
                </li>

            </ul>
        </div>
    </div>
    </div>

    <div class="container" style="border-top:1px solid grey;">
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">Top </a> </li>
                    <li>
                        <a href="/about">AboutUs</a>
                    </li>

                    <li>
                        <a href="https://github.com/phillipbooker/group-project-2">Project-GitHub</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>