<a href="/" class="btn">Home</a>
<form>
  <div class="form-group">
    <label for="category">Choose outfit category</label>
    <select class="form-control" id="category">
      <option>Wedding</option>
      <option>Office</option>
      <option>Graduation</option>
    </select>
  </div>
  <div class="form-group">
    <label for="price">Price Limit</label>
    <input type="text" class="form-control" id="price" placeholder="Price Limit">
  </div>


  <button type="submit" class="btn btn-primary">Search for outfit</button>
</form>

<div class="search-dump"></div>

<script>
  $("form").on("submit", function (event) {
    event.preventDefault();
    let $category = $("#category").val();
    let $price = $("#price").val();
    console.log($category);
    console.log($price);
    $.get(
      "/api/search/?" +
      $.param({
        category: $category,
        price: $price
      }), function (data) {
        console.log("data returned: " + JSON.stringify(data));
        $(".search-dump").append(JSON.stringify(data));
      }
    );
  });
</script>