<div class="container">
  <a href="/"><button class="btn btn-primary mt-2">Home</button></a>
  <form>
    <div class="form-group">
      <label for="category">Choose outfit category</label>
      <select class="form-control" id="category">
        <option>Wedding</option>
        <option>Office</option>
        <option>Graduation</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Price Limit</label>
      <input type="text" class="form-control" id="price" placeholder="Price Limit">
    </div>


    <button type="submit" class="btn btn-primary">Search for outfit</button>
  </form>

  <div class="results mt-2"></div>
</div>

<script>
  function getOutfits(category, price){
    $.get(
      "/api/search/?" +
      $.param({
        category: category,
        price: price
      }), function (outfits) {
        $(".results").empty();
        $(".results").append("<hr>");
        let cardDeck = $("<div class='card-deck'>");
        for (let i = 0; i < outfits.length; i++) {
          let card = $("<div class='card'>");
          let cardContent =
            `
          <a href="/outfits/${outfits[i].id}">
          <img class="card-img-top img-fluid" src=${outfits[i].image}>
          </a>
          <div class="card-body">
            <a href="/outfits/${outfits[i].id}">
            <h5 class="card-title">Price: $${outfits[i].price}</h5>
            </a>
            <p class="card-text">Added by ${outfits[i].stylistName}</p>
          </div>
          
        `;
          $(".results").append(cardDeck.append(card.html(cardContent)));
        }
        if (outfits.length === 0) {
          $(".results").append("No results found with those parameters.");
        }
      }
    );
  }

  $("form").on("submit", function (event) {
    event.preventDefault();
    let $category = $("#category");
    let $price = $("#price");

    let searchCategory = $category.val();
    let searchPrice = parseFloat($("#price").val());

    if ($price.val() === "") {
      searchPrice = 99999;
      getOutfits(searchCategory, searchPrice);
    } else if(isNaN(searchPrice) || searchPrice < 0){
      alert("Please enter a valid 'Price'.");
    } else {
      getOutfits(searchCategory, searchPrice);
    }


  });
</script>