{{!-- Dependencies --}}



{{!-- The start of the Head Image --}}


<div class="hero-image">





  <header>

    <h1>D <span class="flip">R</span> E S</h1>
    <nav>


  </header>
</div>
<div class="hero-text">
  <p>PERSONAL STYLING</p>

  <h1 class="subtext">NEW LOOKS DAILY</h1>

  <a href="#form">
    <h3 class="mt-3 text-white">GET STARTED</h3>
  </a>
</div>
<div class="container-fluid gallery">

  <div class="row">

    <div class="col-md-6"><img class="main_image__img"
        src="https://66.media.tumblr.com/c7513cdd6c5d1cd458d7c749b4621ad8/tumblr_oa7m0wTCiw1s6wzx0o1_1280.jpg"
        data-pc-src="https://66.media.tumblr.com/c7513cdd6c5d1cd458d7c749b4621ad8/tumblr_oa7m0wTCiw1s6wzx0o1_1280.jpg"
        data-mobile-src="https://66.media.tumblr.com/c7513cdd6c5d1cd458d7c749b4621ad8/tumblr_oa7m0wTCiw1s6wzx0o1_1280.jpg"
        style="width: 100%; height: 100%;"></div>



    <div class="col-md-6"><img class="main_image__img"
        src="https://66.media.tumblr.com/496c5267ae657773d47fed8fba46a18e/tumblr_nxzxm7rO0z1ucaz95o1_1280.jpg"
        data-pc-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
        data-mobile-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
        style="width: 100%; height: 50%;"><img class="main_image__img"
        src="https://66.media.tumblr.com/b48d3ca6e1f8ae6d92867d3dff6c8233/tumblr_n1keobyuXe1sqjlogo1_1280.jpg"
        data-pc-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
        data-mobile-src="http://annstreetstudio.com/wp-content/uploads/2013/08/615rain.gif"
        style="width: 100%; height: 50%;"></div>




  </div>
</div>





{{!-- The Start of the Form Container --}}
<div class="container mb-5" id="form">
  <form>
    <div class="form-group my-3">
      <label for="category">Choose Outfit Category</label>
      <select class="form-control" id="category">
        <option value="all-categories">All Categories</option>
        <option value="interview">Interview</option>
        <option value="casual wear">Casual Wear</option>
        <option value="wedding">Wedding</option>
        <option value="first date">First Date</option>
        <option value="festival">Festival</option>
        <option value="a-list">A-list</option>
      </select>
    </div>
    <div class="form-group my-3">
      <label for="price">Price Limit</label>
      <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100"
        class="form-control" id="price" autocomplete="off" value="1000.00"/>
    </div>


    <button type="submit" class="btn-dark">Search for outfit</button>
  </form>

  <div class="results mt-2"></div>
</div>

<script>
  function getOutfits(category, price) {
    $.get(
      "/api/search/?" +
      $.param({
        category: category,
        price: price
      }), function (outfits) {
        $(".results").empty();
        $(".results").append("<hr>");
        let cardDeck = $("<div class='card-deck mb-5'>");
        for (let i = 0; i < outfits.length; i++) {
          let card = $("<div class='card'>");
          let cardContent =
            `
          <a href="/outfits/${outfits[i].id}">
          <img class="card-img-top img-fluid" src=${outfits[i].image}>
          </a>
          <div class="card-body">
            <h5 class="card-title">Price: $${outfits[i].price}</h5>
            <p class="card-text">Added by ${outfits[i].stylistName.split(" ")[0]}</p>
            <a href="/outfits/${outfits[i].id}" class="btn btn-dark">
            See Items
            </a>
          </div>
          
        `;
          $(".results").append(cardDeck.append(card.html(cardContent)));
        }
        if (outfits.length === 0) {
          $(".results").append("No results found with those parameters.");
        }
      }
    );
  }

  $("form").on("submit", function (event) {
    event.preventDefault();
    let $category = $("#category");
    let $price = $("#price");

    let searchCategory = $category.val();
    let searchPrice = parseFloat($("#price").val());

    if ($price.val() === "") {
      searchPrice = 99999;
      getOutfits(searchCategory, searchPrice);
    } else if (isNaN(searchPrice) || searchPrice < 0) {
      alert("Please enter a valid 'Price'.");
    } else {
      getOutfits(searchCategory, searchPrice);
    }


  });

  $("a[href^='#']").on('click', function (e) {

    // prevent default anchor click behavior
    e.preventDefault();

    // store hash
    var hash = this.hash;

    // animate
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 1000, function () {

      // when done, add hash to url
      // (default click behaviour)
      window.location.hash = hash;
    });

  });
</script>

{{!-- The Footer Begins Here --}}
<footer>
  <div class="footer">
    <div class="container text-center">
      <ul class="menu">

        <li>
          <a href="/">D <span class="flip">R</span> E S</a>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="menu">


          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href=""/"">Top </a> </li> <li>
              <a href="/auth/logout">LogOut</a>
          </li>

          <li>
            <a href="/about">AboutUs</a>
          </li>

          <li>
            <a href="https://github.com/phillipbooker/group-project-2">Project-GitHub</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>