<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="hero-image">
      <div class="hero-text text-center">

        {{!-- FLIPPED "R" IN DRES --}}
        <h1>D <span class="flip">R</span> E S</h1>
        <a href="/role" class="btn" id="start" style="border:1px solid white; background-color: transparent;">Get
          Started</a>
      </div>
    </div>
  </div>
</div>

<div class="scene">
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
        <img src="https://www.ecemella.com/wp-content/uploads/2018/09/laced-up-sweater-fall-fashion.jpg" alt=""
          class="card-photo">
      </div>
      <div class="back card-face">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </label>
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
        <img src="https://i.styleoholic.com/2016/08/07-dark-denim-a-grey-sweater-over-a-shirt-and-brown-shoes.jpg"
          alt="" class="card-photo">
      </div>
      <div class="back card-face">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </label>
  <label class="card-wrap">
    <input type="checkbox" class="flipcard">
    <div class="cardA">
      <div class="front card-face">
        <img src="https://i0.wp.com/www.society19.com/wp-content/uploads/2018/05/blouse.jpg?resize=391%2C614&ssl=1"
          alt="" class="card-photo">
      </div>
      <div class="back card-face">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </label>
</div>


{{!-- footer --}}
<footer>
  <div class="footer-top">
    <div class="container text-center">
      <ul class="menu">

        <li>
          <a href="/">D <span class="flip">R</span> E S</a>
        </li>

      </ul>
    </div>
  </div>
  </div>

  <div class="container" style="border-top:1px solid grey;">
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="menu">

          <li>
            <a href="/">Top </a>
          </li>

          <li>
            <a href="/about">AboutUs</a>
          </li>

          <li>
            <a href="https://github.com/phillipbooker/group-project-2">Project-GitHub</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>