<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn">
                Get Started
            </button>
            <a href="/example" class="btn">Go home</a>
        </div>
    </div>
</div>