<div class="logo"></div>

<main>
  <h1>Log In to Your Account</h1>
  <div class="email-login">
    <form>
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <input type="checkbox">Keep me logged in for 30 days
      <a href="#">Forgot password?</a>
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="social-media-login">
    <a href="/auth/google"><i class="">Google</i></a>
    <a href="/auth/facebook"><i class="">Facebook</i></a>
    <a href="/auth/github"><i class="">Github</i></a>
  </div>
</main>