<div class="container">
  <div class="results"></div>
</div>

<script>
  $(document).ready(function () {
    $.get(
      "/api/getItems/?" +
      $.param({
        id: {{ id }}
      }), function (items) {
      console.log(JSON.stringify(items));
      let cardDeck = $("<div class='card-deck'>");
      for (let i = 0; i < items.length; i++) {
        let card = $("<div class='card'>");
        let cardContent =
          `
          <a target="_blank" href="${items[i].purchase}">
          <img class="card-img-top img-fluid" src=${items[i].image}>
          <div class="card-body">
            <h5 class="card-title">${items[i].name}</h5>
            <p>Price: $${items[i].price}</p>
          </div>
          </a>
        `;
        $(".results").append(cardDeck.append(card.html(cardContent)));
      }
      if (items.length === 0) {
        $(".results").append("No items have yet been specified for this outfit.");
      }
    }
  );
  });
</script>