<!-- Start Banner Area -->

<div class="container">


    <section class="banner-area relative">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="banner-content text-center">
                        <h1 class="text-white">C H O O S E Y O U R R O L E</h1>
                        <p class="text-white">
                            F U L L &nbsp;&nbsp;S T A C K &nbsp;&nbsp;W E B &nbsp;&nbsp;D E
                            V E L O P E R<br />
                        </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row text-center">
        <div class="col-md-12">
            <a href="/stylist" class="btn">Stylist</a>
            <a href="/client" class="btn">Client</a>
        </div>
    </div>
</div>
<!-- End Banner Area -->