<div class="container">
    <h1>Choose your role:</h1>
    <div class="row text-center">
        <div class="col-md-12">
            <a href="/stylist" class="btn">Stylist</a>
            <a href="/client" class="btn">Client</a>
        </div>
    </div>
</div>