{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
  <a class="navbar-brand" href="/">D<span class="flip">R</span>ES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/role">Home</a>
      </li>
      <li class="nav-item hide-desktop">
        <a class="nav-link" href="/auth/logout">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{user.gname}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/auth/logout">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="results"></div>
</div>

<script>
  // The API object contains methods for each kind of request we'll make
  var API = {
    deleteItem: function (outfit) {
      return $.ajax({
        headers: {
          "Content-Type": "application/json"
        },
        type: "DELETE",
        url: "/api/outfit",
        data: JSON.stringify(outfit)
      });
    }
  };

  $(document).ready(function () {
    $.get(
      "/api/outfits/" + {{ id }},
    function (outfits) {
      console.log(JSON.stringify(outfits));
      let cardDeck = $("<div class='card-deck'>");
      for (let i = 0; i < outfits.length; i++) {
        let card = $("<div class='card'>");
        let cardContent =
          `
          <button data-id="${outfits[i].id}" class="btn btn-danger float-right delete">ｘ</button>
          <a href="/outfits/${outfits[i].id}">
          <img class="card-img-top img-fluid" src=${outfits[i].image}>
          </a>
          <div class="card-body">
            <h5 class="card-title">${outfits[i].category}</h5>
            <p>Price: $${outfits[i].price}</p>
            <a href="/stylist/${outfits[i].id}" class="btn btn-dark">Edit</a>
          </div>    
        `;
        $(".results").append(cardDeck.append(card.html(cardContent)));
      }
      if (outfits.length === 0) {
        $(".results").append("You don't have any outfits yet!");
      }
    }
  );

  $(".results").on("click", ".delete", function (event) {
    let deleteId = $(this).attr("data-id");
    console.log(deleteId);

    let toDelete = {
      id: deleteId
    };

    API.deleteItem(toDelete).then(function () {
      location.reload();
    });
  });
});
</script>