@font-face {
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
}

body {
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
  background-color: white;
  scroll-margin: 0;
}

.btn {
  border: 1px solid rgba(248, 248, 248, 0.5);
  background: rgba(248, 248, 248, 0.1);
  margin: 2px;
  cursor: pointer;
  /* position: relative; */
  padding: 1.4rem 4.2rem;
  /* padding-right: 3.1rem; */
  font-size: 1.6rem;
  color: white;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
  color: rgba(248, 248, 248, 0.1);
}

.btn:hover {
  color: rgba(248, 248, 248, 0.3);
  transition-delay: 0.6s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: var(--inv);
  transition-delay: 0.4s;
}

/* From Middle */

.from-middle:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-middle:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv);
}

.from-middle:hover:before {
  left: 0;
  width: 100%;
}

.from-middle:hover:after {
  top: 0;
  height: 100%;
}

h1 {
  margin-top: 140px;
  font-size: 200px;
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
  color: white;
  position: center;
  text-transform: uppercase;
}

/* Loren use this for the "R" being flipped */
.flip {
  display: inline-block;
  transform: rotateY(180deg);
}

.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://www.100interiordesign.com/wp-content/uploads/2015/12/Modern-style-dressing-room-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#features {
  margin-top: 50px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

#top-text {
  margin-top: 20%;
  visibility: hidden;
}

h4 {
  text-align: center;
  font-size: 15px;
  padding: 10px;
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
  text-transform: uppercase;
}

/* CARDS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  position: absolute;
}

.scene {
  width: 1440px;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  padding: 40px 30px;
}

.card-wrap {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.cardA,
.front,
.back,
.card-photo {
  width: 100%;
  height: 100%;
}

.card-face {
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
}

.cardA {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s, box-shadow 0.4s;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  border-radius: 10px;
}

.card-photo {
  object-fit: fill;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
}

.back {
  transform: rotateY(180deg);
  text-align: center;
  color: black;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.back p {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flipcard {
  opacity: 0;
}

input:checked + .cardA {
  transform: rotateY(180deg);
}

@media screen and (min-width: 960px) {
  .scene {
    display: flex;
    justify-content: space-around;
  }
}

/* PERKS section */

#perks-title {
  margin-top: 70px;
  margin-bottom: 60px;
}

.icons {
  width: 60px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h5 {
  text-align: center;
  font-size: 15px;
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
  text-transform: uppercase;
  margin-bottom: 300px;
  margin-top: 40px;
}

/* start of footer */

footer {
  background-color: black;
  padding: 20px 0px;
  font-family: Raleway;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/raleway);
}

footer ul {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding-top: 30px;
}

footer ul li {
  float: left;
}

footer ul li a {
  color: white;
  text-align: center;
  word-spacing: 15px;
  width: 100%;
  padding: 30px;
}

footer ul li a:hover {
  color: grey;
  text-decoration: none;
}

.footer-top {
  padding-bottom: 20px;
}

.footer-top .fa {
  font-size: 18px;
  color: #fff;
  padding-right: 10px;
}

.footer-top a {
  color: white;
}

.footer-top .col-lg-2:hover .fa,
.footer-top .col-lg-2:hover a {
  color: grey;
  text-decoration: none;
}

#top {
  color: #fff;
  background: black;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
  height: 20px;
  width: 40px;
  right: 30px;
  position: fixed;
  border-radius: 3px;
  text-align: center center;
  bottom: 350px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 775px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 500%;
  }

  .btn {
    padding: 10px;
  }

  h5 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #perks-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 750px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 500%;
  }

  .btn {
    padding: 10px;
  }

  h5 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #perks-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 650px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 500%;
  }

  .btn {
    padding: 10px;
  }

  h5 {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #perks-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
